.sparkle {
  animation: sparkle 0.3s ease-in-out;
  opacity: 0;
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}
